#offer {
    padding: 70px 0px 0px 0px;
    background: #999999;
}

.offer-inner {
    display: flex;
    flex-direction: column;
}

.offer-title::before {
    border-bottom: 10px solid #999999;
}

.offer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: baseline; */
    padding: 20px 0;
}

.offer-content-inner {
    flex: 1 1;
    padding: 50px 20px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    position: relative;
    background: #d7d5d5;
    border-radius: 8px;
    margin: 50px 25px;
}

.border-left {
    border-left: 3px solid #911a1b;
}

.logo-top {
    position: absolute;
    top: -50px;
    border: 1px solid #eee;
}

@media only screen and (max-width: 768px) {
    .offer-content {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .offer-content-inner {
        margin: 40px 38px;
        padding: 42px 17px;
    }
    
    .offer-title {
        margin-top: 0px !important;
        margin-bottom: 10px !important;
    }
}