#nav {
    width: 100%;
    position: fixed;
    z-index: 10;
    background: transparent;
    height: 70px;
    overflow: hidden;
    transition: background 300ms ease;
}

#nav.show-color {
    background: #eee;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
.nav-logo {
    font-size: 2rem;
    line-height: 55px;
}

.nav-image {
    cursor: pointer;
    position: absolute;
    top: -33px;
    height: 120px;
    width: 170px;
}

.nav-list-wrapper {
    display: hidden;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
}

.nav-image {
    position: absolute;
    top: -25px;
    height: 120px;
    width: 170px;
}

.nav-list-container {
    display: flex;
    line-height: 55px;
}

.show-color .nav-item {
    color: #000;
}

.nav-item {
    margin: 0px 20px;
    cursor: pointer;
    line-height: 70px;
    color: #eee;
    font-weight: 400;
    opacity: 0.7;
    position: relative;
}

.nav-list-wrapper .nav-list-container .nav-item:hover {
    opacity: 1;
}

.nav-list-container:hover .nav-item {
    opacity: 0.5;
}

@media only screen and (max-width: 768px) {
    .nav-list-wrapper {
        transition: all 100ms ease;
        display: block;
        position: absolute;
        left: 0px;
        width: 100%;
        height: calc(100vh - 55px);
        background: rgba(0,0,0,0.6);
        top: 55px;
        display: none;
        /* transform: translateX(calc(100vw * -1));  */
    }

    .nav-list-container.open {
        transform: translateX(calc(100vw * -1)); 
    }
}